<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../includes/navigations') %>
    <main>
        <div class="centered">
            <h3> <%= product.title %> </h3>
            <hr>
            <div class="image">
                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <br>
            <br>
            <h2 class="product__price">$<%= product.price %></h2>
            <p class="product__description"><%= product.description %></p>
        </div>
        <div class="card__actions">
            <form action="/cart" method="POST">
                <input type="hidden" name="productId" value="<%= product.id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Add to Cart</button>
            </form>
        </div>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
